* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  nav {
    background-color: rgb(29, 35, 92);
    padding: 2rem;

    #navbar-elements {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 2rem;
      li {
        a {
          text-decoration: none;
          color: azure;
        }
      }
    }
    .dropdown-menu {
      display: none;
      flex-direction: column;
      list-style: none;
    }
  }
}
