.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.orbitron-500 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@media (min-width: 1024px) {
  .bg-desktop-none {
    background-image: none !important;
  }
}
